.Navbar-parent {
    /* background-color: #222; */
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Berkshire Swash', cursive;
}

.Navbar-name-div {
    display: flex;
    height: 100%;
    width: 100%;
    /* font-family: 'Berkshire Swash', cursive; */
}

.Navbar-name-div a {
    text-decoration: none;
    color: white;
}

.Navbar-nav-items-div {
    display: flex;
}

.Navbar-nav-items-div a {
    color: white;
    padding-left: 13px;
    padding-top: 15px;
}

.Navbar-name-div h1 {
    margin: 0;
    margin-top: 3px;
}

@media only screen and (max-width : 500px) {
    .Navbar-name-div h1 {
        margin-top: 12px;
        letter-spacing: 1px;
    }

    .Navbar-name-div {
        font-size: 10px;
        top: 10px;
    }
}