.Home-parent {
    background-color: #222;
    height: 50px;
    padding: 10px;
    color: white;
}

.Home-top-div {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    font-family: 'Gugi', cursive;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
}

.Home-top-div p {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.Home-top-div h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.Home-avatar-div {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

.Home-projects-div {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    font-family: 'Gugi', cursive;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.Home-projects-div h1 {
    color: white;
}

.Home-carousel-div {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: red;
    flex-direction: column;
    /* align-items: center; */
}

@media only screen and (max-width : 801px) {
    .Home-top-div {
        height: 350px;
    }
}

@media only screen and (max-width : 463px) {
    .Home-top-div {
        height: 400px;
    }

    .Home-top-div h2 {
        font-size: 1.1em;
    }

    .Home-top-div p {
        font-size: 15px;
    }
}