.Project-grid-base-div {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Project-item-div {
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: aquamarine;
    background-size: cover;
}

@media only screen and (max-width : 500px) {
    .Project-grid-base-div {
        display: grid;
        grid-template-columns: auto auto;
    }
}